<div class="login-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" style="scale: calc(150%);">
    
        <p>Enter Your Email</p>
        <input type="text" formControlName="email" >
        <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" style="color: red;">
            Please Enter Valid Email Address
        </div>

        <p>Enter Your Password</p>
        <input type="password" formControlName="password">
        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" style="color: red;">
            Enter Password atleast of five length
        </div>

        <br>
        <br>
    
        <button>Sign In</button>
        <div style="color: red;" *ngIf="inValidCredential">Invalid credentials</div>
        <div style="margin-top: 10px;">
            Wanna sign up first <a routerLink="/sign-up">Sign Up</a> ?
        </div>
        <div style="margin-top: 10px;">
        <a routerLink="/admin-login">Admin Login</a> ?
        </div>
    </form>
</div>