<div class="history-container">

        <div *ngFor="let user of userData; let i = index" class="cart">
        
            <!-- <img src="{{user.img}}" class="image">
            
            <p>Title of product is {{user.title}}</p>
            <p>description of {{user.desc}}</p>
            <p>cost of single item ${{user.money}}</p>
            <p>Total Cost ${{user.money*user.count}}</p> -->


            <mat-card class="example-card-2">
            <mat-card-header>
                <mat-card-title-group>
                    <div style="gap: 20px; display: flex;">
                        <div>
                            <p>{{user.title}}</p>
                            <p>{{user.desc}}</p>
                            <p>${{user.money}}</p>
                            <p>Total Cost ${{user.money*user.count}}</p>
                            <p>Total Item {{user.count}}</p>          
                            <p>Status {{user.status}}</p>
                            <button *ngIf="user.status!=='delivered' && user.status!=='cancel'" style="color: red;" (click)="cancelOrder(i)">Cancel</button>
                        </div>
                        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </div>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                
            </mat-card-content>
            </mat-card>
        </div>
               

        <p *ngIf="userData.length===0">No history available</p>
</div>

