.cart{
    display: flex;
    justify-content: space-between;

    padding-left: 50px;
    padding-right: 50px;
    margin: 50px;
}


.history-container{
  min-height: 100vh;
  background-color: rgb(54, 67, 80); 
    margin: 0;
}