.nav-bar{
    display: flex;
    justify-content: space-between; 
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(223, 228, 130);
}

.search-bar{
    margin: 10px;
    width: 40%;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
}

.category{
    margin-top: 20px;
    margin-bottom: 10px;
}

.price-filter{
    margin-top: 20px;
    margin-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
}
.cart:hover{
    cursor: pointer;
    border-style: groove;
}

.cart{
    padding-left: 15px;
    padding-right: 15px;
}

.nav-right-bar{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.history{
    scale: calc(150%);
}

.history:hover{
    cursor: pointer;
}