<nav class="nav-bar">

    <div style="display: flex;justify-content: center;align-items: center; scale: calc(150%); color: #c2185b;">SudeepEcom</div>
    <div class="nav-right-bar">
        <!-- <div style="color: white; font-size: large; display:flex; justify-content: center;align-items: center;" class="history" (click)="goToHistoryPage()">Orders</div> -->

        <div style=" margin: 20px;scale: calc(150%); display: flex; gap: 5px;" (click)="clickOnCart()" class="cart">
            <button mat-stroked-button color="primary"  (click)="goToHistoryPage()">orders</button>
        </div>

        <div style=" margin: 20px;scale: calc(150%); display: flex; gap: 5px;" (click)="clickOnCart()" class="cart">
            <!-- <div style="color: white;">Cart</div> -->
            <button mat-stroked-button color="primary">Cart {{totalCart}}</button>
            <!-- <div style="display:flex; justify-content: center; color: white;">{{totalCart}}</div> -->
        </div>
        <!-- <div  style="color: white; font-size: large; display:flex; justify-content: center;align-items: center;" (click)="logoutUser()" class="history">Logout</div> -->

        <div style=" margin: 20px;scale: calc(150%); display: flex; gap: 5px;" (click)="logoutUser()"  class="cart">
            <button mat-stroked-button color="primary">Logout</button>
        </div>
        
    </div>
</nav>
<div>
    <div class="container">
        <!-- <input type="text" placeholder="search" class="search-bar" [(ngModel)]="search"
        (change)="onChangeValue()"
        > -->

        <mat-form-field class="example-form-field" >
            <mat-label>Search your product</mat-label>
            <input matInput type="text" [(ngModel)]="search" (change)="onChangeValue()">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <div>
            <!-- <p  style="margin:0; margin-top: 10px;">Select an category</p>
            <select class="category" [(ngModel)]="category" >'
                <option value="" disabled selected>Select an category...</option>
                <option>Shirt</option>
                <option>Pants</option>
                <option>Utensils</option>
                <option>Toys</option>
            </select> -->

            <mat-form-field>
                <mat-label>Status</mat-label>
                <select matNativeControl required [(ngModel)]="category" >
                    <option >Shirt</option>
                    <option >Pants</option>
                    <option >Utensils</option>
                    <option >Toys</option>
                </select>
            </mat-form-field>
        </div>

        <div>
            <!-- <p style="margin:0; margin-top: 10px;">Select a price</p>
            <select class="price-filter" [(ngModel)]="priceFilter">'
                <option value="" disabled selected>Select an price...</option>
                <option>10-20</option>
                <option>20-30</option>
                <option>30-40</option>
                <option>40-50</option>
            </select>    -->

            <mat-form-field>
                <mat-label>Select a price</mat-label>
                <select matNativeControl required [(ngModel)]="priceFilter" >
                    <option >10-20</option>
                    <option >20-30</option>
                    <option >30-40</option>
                    <option >40-50</option>
                </select>
            </mat-form-field>
        </div>
    </div>
    
    <app-card (emitCardTotal) = "updateCardNumber($event)" [cardTotal] = "totalCart" [search] = 'search' [category] = "category" [priceFilter]="priceFilter"/>
    
</div>
