.cart-container{
    display: block;
    justify-content: space-between;
    background-color: rgb(168, 177, 53);
    min-height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;

}

.container{
   /* justify-content: space-between;  */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*
   
}
.carts{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.description{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* scale: calc(150%); */
    overflow-y: hidden;
}

.image{
    /*
    scale: calc(100%); */
    align-self: center;
}

.item-update{
    justify-items: center;
    align-items: center;
}

.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.example-card {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-bottom: 8px;
}
.example-card-2{
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    margin-bottom: 8px;
}
.image-container{
    display: flex; 
    justify-content: space-between;
    margin: 20px;
}