.sign-up-container{
    width: 100wh;
    height: 100vh;
    background-color: #c2185b;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}